/* Reset some default browser styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set a background color and font styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Style the navigation menu */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Style the hero section */
.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #555;
}

/* Centered Content Section */
.centered-content {
    background-color: #f4f4f4;
    padding: 100px 0;
    text-align: center;
}

.centered-content-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust the height as needed */
}

.centered-content img {
    max-width: 85%;
    max-height: 85%;
}

/* Make the page responsive */
@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

    .hero {
        padding: 50px 0;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .features {
        padding: 30px 0;
    }

    .feature {
        margin-bottom: 20px;
    }
}
